{% extends 'shared/base.html' %}

{% block title %}Biens{% endblock %}

{% block content %}
    <h1>Bienvenue sur la page des biens immobiliers.</h1>
    <p>Ici tu pourras accéder aux biens immobiliers que tu gères.</p>

    <button type="submit"><a href="{% url 'add_property' %}">Ajouter un bien</a></button>

    <hr>

    <h2>Liste des biens :</h2>
    <ul>
        {% for prop in properties %}
            <li>
                <strong>{{ prop.name }}</strong> - {{ prop.surface }} m² - {{ prop.price }} €<br>
                Adresse : {{ prop.address }}<br>
                Description : {{ prop.description }}<br>
                <button type="submit"><a href="{% url 'delete_property' prop.id %}" onclick="return confirm('Supprimer ce bien ?');">🗑 Supprimer</a></button> 
                <button type="submit"><a href="{% url 'update_property' prop.id %}">✏️ Modifier</a></button>
            </li>
        {% empty %}
            <li>Aucun bien enregistré.</li>
        {% endfor %}
    </ul>

{% endblock %}